{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

  <h1>Register</h1>
  <form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="age">Age:</label>
    <input type="number" name="age" id="age" required>
    <br>
    <input type="submit" value="Register" class="w3-container w3-light-blue">
  </form>
  <p>Already have an account? <a href="/login">Login</a></p>


{% endblock %}





